* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
  }

.header {
    position: relative;
    overflow: hidden;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222222;
}



.left-logo {
    display: flex;
    align-items: center;
    gap: 41px;
}

.center-header {
    width: 859px;
}

.right-logo {
    display: flex;
    gap: 33px;
    align-items: center;
}

.desktop {
    display: flex;
    gap: 33px;
    align-items: center;
}

header svg path {
    transition: 0.2s;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    position: absolute;
    right: -100%;
    background-color: #fff;
    width: 232px;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 32px;
    display: none;
}

.check {
    display: none;
}

.check:checked~.mobile-menu {
    display: block;
    right: 0;
    top: 75px;
}

.mobile-menu h1 {
    padding-top: 31px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.mobile-menu a {
    text-decoration: none;
}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

li {
    list-style-type: none;
    padding-top: 20px;
}

ul ul a {
    padding-top: 16px;
    padding-left: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

li li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.top-content {
    display: flex;
    align-items: center;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    background: #F1E4E6;
}

.top-content img {
    width: 50%;
}

.top-content-promo {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.top-content h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top-content h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.top-content h2 span {
    color: #F16D7F;
}

.preview-cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.prev-card {
    position: relative;
}

.prev-card img {
    width: 100%;
}

.prev-card-big img {
    width: 100%;

}

.prev-card h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.prev-card-1 h2 {
    position: absolute;
    left: 154px;
    top: 113px;
}

.prev-card h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.prev-card-1 h1 {
    position: absolute;
    left: 120px;
    top: 133px;
}

.prev-card-2 h2 {
    position: absolute;
    left: 135px;
    top: 113px;
}

.prev-card-2 h1 {
    position: absolute;
    left: 120px;
    top: 133px;
}

.prev-card-3 h2 {
    position: absolute;
    left: 117px;
    top: 113px;
}

.prev-card-3 h1 {
    position: absolute;
    left: 120px;
    top: 133px;
}

.prev-card-big {
    grid-column: span 3;
    position: relative;
}

.prev-card-big-mobile {
    display: none;
}

.prev-card-big h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    left: 490px;
    top: 66px;
    color: #FFFFFF;
    width: 200px;
}

.prev-card-big h1 {
    position: absolute;
    left: 495px;
    top: 92px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.catalog h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.catalog h4 {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog-cards {
    display: grid;
    -ms-grid-columns: 360px 30px 360px 30px 360px;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-top: 48px;
}

.buy-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.add-to-cart {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.add-to-cart h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 44px;
    border: 1px solid #ffffff;
}

.border:hover {
    border: 1px solid gray;
}

.about-of-card {
    padding: 24px 29px 24px 16px;
    background: #F8F8F8;
}

.about-of-card h2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.about-of-card p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.about-of-card h3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F
}

.catalog button {
    margin-top: 48px;
    margin-bottom: 60px;
    padding: 15px 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F26376;
    background-color: #FFFFFF;
    border: 1px solid #FF6A6A;
    transition: 0.2s;
}

.advantages {
    padding-top: 103px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 92px 300px 92px 300px;
    grid-template-columns: repeat(3, 300px);
    gap: 92px;
    justify-content: center;
    background-color: #222224;
    padding-bottom: 104px;
}

.adv-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-card h2 {
    margin-top: 28px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.adv-card p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

.feedback {
    display: flex;
    justify-content: center;
    height: 448px;
    background-image: url("./img/subscribe.jpg");
    background-size: cover;
    gap: 332px;
}

.fb-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 360px;
}

.fb-left img {
    margin-top: 97px;
    width: 96px;
    height: 96px;
}

.fb-left p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.fb-right {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fb-right h2 {
    padding-top: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    color: #222224
}

.email-form {
    display: flex;
    margin-top: 22px;
}

.email-form input {
    width: 256px;
    height: 49px;
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    border: none;
    outline: none;
    padding-left: 30px;

}

.email-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 49px;
    border-radius: 0 25px 25px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #E05C6E;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    background: #222224;
}

.center-footer {
    width: 736px;
}

.left-ft {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB
}

.right-ft a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    text-decoration: none;
    background-color: #fff;
    transition: 0.2s;
}

.right-ft img {

    height: 16px;
}